canvas {
    border: 5px solid aqua;
    touch-action: none;
    margin: auto;
}
.l1{
  display: flex;
  border: 3px solid aqua;
  width: 520px;
  height: 520px;
}
.butRight{
    position: absolute;
    left: 450px;
}
